@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  font-family: var(--font-neue-haas-medium);
  scroll-snap-type: y mandatory;
scroll-snap-stop: always;
overscroll-behavior: none; /* or contain */

}


html {
  background-color: #ededed; /* Light mode default */
}

html.dark {
  background-color: #0a0a0a;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-neue-haas-medium: "neue-haas-grotesk-display", sans-serif;
  --font-neue-haas-bold: "neue-haas-grotesk-display", sans-serif;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
